<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form
        (ngSubmit)="onSubmit(formElement)"
        #formElement="ngForm"
        >
        <div class="form-group">
          <label
            for="email"
            class="form-label"
            >
            Email address
          </label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            #email="ngModel"
            email
            ngModel
            required
            >
          <p
            *ngIf="email.invalid && email.touched"
            class="red"
            >
            Please select a valid Email.
          </p>
        </div>

        <div class="form-group">
          <label
            for="selectedSubscription"
            class="form-label"
            >
            Example select
          </label>
          <select
            class="form-control"
            id="selectedSubscription"
            name="selectedSubscription"
            [ngModel]="defaultSubcription"
            ngModel
            >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            name="password"
            id="password"
            #password="ngModel"
            password
            ngModel
            required
            >

          <p
            *ngIf="password.invalid && password.touched"
            class="red"
            >
            Please enter valid password.
          </p>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            (click)="onShowPassword()"
            id="showPassword"
            >
          <label class="form-check-label" for="showPassword">Show password</label>
        </div>

        <button [disabled]="formElement.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div
    *ngIf="submited"
    class="row"
    >
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your data</h3>
      <p>Your email: {{ user.email }}</p>
      <p>Your password: {{ user.password }}</p>
      <p>Your selected subscription: {{ user.subscription }}</p>
    </div>
  </div>
</div>
